<p>Soslan Tuaev</p>
<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<!-- SEMANTIC UI JS-->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.js"></script>
<script type="text/javascript" src="/libs/trumbowyg.min.js"></script>
<script type="text/javascript" src="/libs/javascript.js"></script>
<script>$('#trumbowyg').trumbowyg({
        autogrow: true
    });
</script>
</body>

</html>