<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Blog App</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/trumbowyg.min.css">
</head>

<body>
    
    <div class="ui large fixed menu">
        <div class="ui container">
            <div class="header item"><i class="code icon"></i>Blog Site</div>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New Post</a>
        </div>
    </div>