body{
   background-color: #232323;
}

h1{
   color: white;
}
span{
   color: white;
}

.square{
   width: 30%;
   background: purple;
   padding-bottom: 30%;
   float: left;
   margin: 1.66%;
   border-radius: 10%;
}

#container{
   margin: 0 auto;
   max-width:750px;
   
}
