<% include ./partials/header %>

    <div class="ui main text container segment">
        <div class="ui huge header">New Blog</div>
        <form class="ui form" action="/blogs" method="post">
            <div class="field">
                <label>Heading</label>
                <input type="text" name="blog[title]" placeholder="title">
            </div>
            <div class="field">
                <label>Short Intro</label>
                <input type="text" name="blog[shortIntro]" placeholder="Short Introduction">
            </div>
            <div class="field">
                <label>Image URL</label>
                <input id="blogImage" type="text" name="blog[image]" placeholder="image">
            </div>
            <div class="field">
                <label>Blog Content</label>
                <textarea id="trumbowyg" name="blog[body]"></textarea>
            </div>
            <div class="field">
                <button class="big fluid ui secondary button">Submit</button>
            </div>
        </form>
    </div>



    <% include ./partials/footer %>